@import "~bootstrap/scss/bootstrap";
@import "./_partials.scss/typo.scss";
@import "./_partials.scss/colors.scss";

/********** RESET **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    color: $secondary-color;
}

/********** COMMON **********/

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

/********** HEADER TOP **********/

.header-top {
    background-color: $primary-color;
    font-weight: 500;
    
    i {
        font-size: 0.7rem;
    }

    .container {

        div {
            &:first-child {
                margin-right: 100px;
            }
        }
    }
   
}
/********** HEADER BOTTOM **********/

.header-bottom {
    color: $main-bg-color;
    
    li {
        font-weight: 600;

        a {
            color: $main-bg-color;

            &:hover {
                color: $primary-color;
                transition: color .30s;
            }
        }
    }

    .logo > img {
        height: 60px;
    }

    
.search-bar {
    position: relative;

    i {
        position: absolute;
        top: 5px;
        right: 0;
    }

    input {
        border: none;
        border-bottom: 3px solid #0282f9;
        padding-right: 20px;
        width: 150px;
        font-weight: 600;
        
        &:focus {
            outline: none;
        }
    }
}
}
/********** MAIN JUMBO **********/

.jumbo {
    height: 60vh;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    position: relative;

    .intro-next-section {
        position: absolute;
        bottom: -30px;
        left: 15%;
        background-color: $primary-color;
        padding: 12px 36px;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

/********** MAIN COMICS DISPLAY **********/

main {
    background-color: $main-bg-color;
    
    .container {
        padding: 50px 0 25px 0;
        
        .card-item {
            width: 16%;
            padding: 10px;
        
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: ease .40s;
            }
            
            .card-top {
                height: 260px;
                width: 100%;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
            .card-info {
                h4 {
                    font-size: 0.975rem;
                    letter-spacing: -1px;
                }
        
                h4, h5 {
                    margin: 8px 0;
                }
            }
        }
        
    }
    
    .btn-ctn {
        text-align: center;
        padding: 20px;
        
        button {
            padding: 14px;
            width: 250px;
            border: 0;
            background-color: $primary-color;
            font-weight: bold;
            font-size: 1rem;
            letter-spacing: -1px;
            color: $secondary-color;
            
            &:hover {
                cursor: pointer;
                background-color: transparent;
                border: 2px solid $primary-color;
                transition: background-color .40s;
            }
        }
    }
}

.merchandise {
    background-color: $primary-color;
    color: $secondary-color;
    
    .container {
        max-width: 1300px;
        margin: 0 auto;
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .item {
            width: 20%;
            display: flex;
            align-items: center;
            
            .title-ctn {
                width: 100%;
                
                h3 {
                    font-size: 1rem;
                }
            }
            
            .img-ctn {
                width: 30%;
                margin: 0 10px;
                
                img {
                    width: 95%;
                    
                }
            }
        }
    }
}

/********** FOOTER TOP **********/

.footer-top {
    background-image: url(../img/dc-logo-bg.png), url(../img/footer-bg.jpg);
    background-position: 75% 50%, bottom left;
    background-size: 35%, 100%;
    padding: 80px 0;
    background-repeat: no-repeat;
    color: $primary-color;

    .container {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;

            .left {
                .top {
                    margin-bottom: 25px;
                }
            }
            .left, .center {
                margin-right: 2rem;
            }

            h3 {
                color: $secondary-color;
                margin-bottom: 20px;
            }

            ul {
                list-style-type: none;

                li {
                    margin: 8px 0;
                }
            }

            a {
                text-decoration: none;
                color: #5b6c76;

                &:hover {
                    color: $primary-color;
                    transition: color .30s;
                }
            }
    }

    .rights {
        color: #5b6c76;

        p {
            max-width: 650px;

            a {
                color: $primary-color;
            }
        }
    }
}

/********** FOOTER BOTTOM **********/

.footer-bottom {
    background-color: $alt-bg-color;
    padding: 40px;
    color: $secondary-color;

    .container {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }

        .left {
            button {
                background-color: transparent;
                border: 2px solid $primary-color;
                padding: 12px 24px;
                color: $secondary-color;
                font-size: 1rem;
                font-weight: bold;
                
                &:hover {
                    cursor: pointer;
                    transform: translateY(-6px);
                    transition: ease .40s;
                }
            }
        }

        .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 60%;
            
            .cta {
                font-size: 1.2rem;
                font-weight: bold;
                color: $primary-color;
                letter-spacing: -1px;
                padding: 10px;
                margin-right: 15px;
            }

            .socials {
                display: flex;
                justify-content: space-between;
                width: 30%;
            }
        }
    }
}